# Ignore everything
**

# Allow files and directories
!/usr/**
!/assets/**
!/config/**
!/src/**
!/.prod.env
!/tsconfig.build.json
!/tsconfig.json
!/package.json
!/package-lock.json
!/wait-for-it.sh

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
.git
.bak
uploads
node_modules
