version: '2'

services:
  db:
    image: postgres:13.1-alpine
    container_name: nestjs-realworld-example-db
    restart: unless-stopped
    env_file:
      - docker.env
    ports:
      - 5432:5432
    # volumes:
    #   - ./volumes/db:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: nestjs-realworld-example-pgadmin
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - docker.env
    ports:
      - 5480:80

  app:
    image: koakh-nestjs-realworld-example-app:latest
    container_name: koakh-nestjs-realworld-example-app
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    env_file:
      - docker.env
    ports:
      - 8443:8443
