version: '2'

services:
  db:
    image: postgres:13.1-alpine
    container_name: db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=example
      - POSTGRES_DB=nestjsrealworld
    ports:
      - 5432:5432
    # volumes:
    #   - ./volumes/db:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=postgres@domain.com
      - PGADMIN_DEFAULT_PASSWORD=example
    ports:
      - 5480:80

  nestjs-realworld-example-app:
    image: koakh-nestjs-realworld-example-app:latest
    container_name: koakh-nestjs-realworld-example-app
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - 8090:3000
